services:
  mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_DATABASE: crosspostme
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./app/backend
    command: uvicorn backend.server:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - ./app/backend:/app/backend
    ports:
      - "8000:8000"
    environment:
      MONGO_URL: mongodb://mongo:27017
      DB_NAME: crosspostme
      # Allow requests from both the host browser and other containers
      CORS_ORIGINS: "http://localhost:3000,http://frontend:3000"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./app/frontend
      dockerfile: Dockerfile.dev
    volumes:
      # Mount the source code, but not node_modules
      - ./app/frontend/src:/app/src
      - ./app/frontend/public:/app/public
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - VITE_BACKEND_URL=http://backend:8000

  prometheus:
    image: prom/prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - backend

  grafana:
    image: grafana/grafana
    restart: always
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  mongo_data:
  prometheus_data:
  grafana_data:
